@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;

// ページネーション（共通）
.c-pagination {
  margin-top: 7rem;

  @include sp {
    margin-top: 5.9rem;
  }

  .wp-pagenavi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    text-align: center;

    @include sp {
      column-gap: 0.5rem;
    }
  }

  .current,
  a {
    width: 5rem;
    height: 5rem;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    border: 0.1rem solid $text-color;
    display: grid;
    place-content: center;
    color: $text-color;
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s;

    @include sp {
      width: 4.4rem;
      height: 4.4rem;
      font-size: 1.6rem;
    }

    &:hover {
      opacity: 1;
      color: $font-color;
      background-color: $text-color;
    }
  }

  .current {
    color: $font-color;
    background-color: $text-color;
    cursor: default;
    pointer-events: none;
  }

  .extend {
    display: inline-block;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;

    @include sp {
      font-size: 1.6rem;
      padding-inline: 0.7rem;
      padding-bottom: 1rem;
    }
  }
}